# The following code sections were written during my learning process. They are intended solely for educational purposes.

**Step_1:** import **pandas** framework

In [ ]:
import pandas as pd

**Step_2:** Create a **dataframe** from a **CSV file**.

In [ ]:
df = pd.read_csv("telco_churn.csv")

**Step_3:** Create a **dataframe** from a **dictionary**.

In [ ]:
my_dict = {
    'student_id': [1132027, 2242027, 3352027],
    'student_major': ['Computer Science', 'Computer Engineering', 'Business Administration'],
    'student_country': ['Burkina Faso', 'Chad', 'Niger']
}

In [ ]:
my_dict_df = pd.DataFrame.from_dict(my_dict)

**Step_4:** Read the **csv file** from the top

In [ ]:
df.head()

**Step_5:** Read the dictionary dataframe

In [ ]:
my_dict_df.head()

**Step_6:** Read the **csv file** from the bottom

In [ ]:
df.tail(3)

**Step_7:** Show the **Colums** and the **Datatypes**

In [ ]:
df.columns # Show each colum title

In [ ]:
df.dtypes # Show the type of data in each colum

**Step_8:** Summary statistics

In [ ]:
df.describe() # For basic statistics of all type of data of the dataframe

In [ ]:
df.describe(include='object') # This just consider the items of types 'object' from the dataframe

Step_9: **Filtering** **specific colums** to visualize

In [ ]:
df.State # With 'State' being the colum  name.

In [ ]:
# However, it is a little bit different for colum whcih name is made by two or more words
# eg:
df['Area code'] # gives us for the colum named 'Area code'

# NB: Ensure to not add space in the ['_in this part_'] because python will take it into account.

**Step_10:** Filtering **multiples** colums

In [ ]:
df[['State', 'International plan', 'Area code']]

**Step_11:** Get a **unique value** within the colum.

In [ ]:
df['Area code'].unique() # For 'Area code' colum

In [ ]:
df.State.unique() # For 'State' colum

**Step_12:** How to filter trough **Row**
eg: if we want to get all row with the 'International plan' sets to 'No', how will we proceed?

In [ ]:
df[df['International plan'] == 'No']

**Step_13:** **How to combine conditions** to further filter trough **row**.

In [ ]:
df[(df['International plan'] == 'No') & (df['Churn'] != False)]

**Step_14:** How to **Index** using ***iloc***

NB: ***iloc*** helps us loop trough the row which is the 'first integer' and a colum which is the 'second integer' at the same time using integers.

In [ ]:
df.iloc[13] # Gives us all the data of the 13th row.

In [ ]:
df.iloc[20:31] # Gives us all data from row 20 to row 31 - 1 which is 30

In [ ]:
df.iloc[23, -1] # Gives the item of the 23rd row last colum.

In [ ]:
df.iloc[23, 0] # Gives the item of the 23rd row first colum.

**Step_15:** How to **Index** using ***loc***

**NB:** ***loc*** helps us loop trough the colums.

--- The set_index method is used to designate one or more columns as the index of the DataFrame.
inplace=True modifies the DataFrame in place, meaning that the state DataFrame itself is changed and no new DataFrame is returned.

--- If inplace were set to False, it would return a new DataFrame with the 'State' column set as the index, but state would remain unchanged.

--- After this operation, the DataFrame state will use the values in the 'State' column as row labels (index), instead of the default integer index.

In [ ]:
state = df.copy() # Create a copy of the dataframe
state.set_index('State', inplace = True) # Sets the 'State' column as the index of the DataFrame state.

In [ ]:
state.head()

In [ ]:
state.loc['OH'] # Gives all the data whose 'State' colum is 'OH'.

# **Step_16: Updating**

**1.  Dropping rows**

In [ ]:
df.isnull().sum()  # Give us the sum of the number of rows that have missed value for each colum.

In [ ]:
df.dropna(inplace = True) # Drops those rows, we are going to use the dropna method as the following:

In [ ]:
df.isnull().sum()  # Check the final result

**2. Droping colums**

In [ ]:
df.drop('Area code', axis = 1) # Deletes the 'Area code' colum. We added the axis because we are droping a colum not a row

**3. Creating new colums and do calulations with existing colums value**

In [ ]:
df['Total eve minutes + Total night minutes'] = df['Total eve minutes'] + df['Total night minutes']

In [ ]:
df.head() # Show the result

**4. Updating an entire colum**

In [ ]:
df['Total eve minutes + Total night minutes'] = 0 # Changes all the values in the colum to 0.

In [ ]:
df.head() # Show the result

**5. Updating a single value whitin a specific row at a specific colum**

In [ ]:
df.iloc[0, -1] = 100 # Change the value of the first row last colum to 100.

In [ ]:
df.head() # Show the result.

**6. Conditions based Update using the 'apply' method**

Let's create a new colum name 'Binary Churn' where we will replace 'True' or 'False' by '1' or '0' respectively.

In [ ]:
df['Binary Churn'] = df['Churn'].apply(lambda x: 1 if x == True else 0)

In [ ]:
df.head(100) # Show the result.

# **Step_16: Delete/Output**

**1. Output to CSV file**

In [ ]:
df.to_csv('name_of_the_csv_file.csv')

**2. Output to JSON file**

In [ ]:
df.to_json()

**3. Output to HTML file**

In [ ]:
df.to_html()

**4. How to delete a dataframe**

In [ ]:
del 'dataframe_name'